body{
    text-align: center;
}

input[type=text]{
    background-color: transparent;
    color:grey;
    width: 100%;
    box-shadow: none;
    border-style: solid;
}

input[type=date]{
    background-color: transparent;
    color:grey;
    width: 100%;
    box-shadow: none;
    border-style: solid;
}

input[type=number]{
    display: inline;
    background-color: transparent;
    color:grey;
    width: 100%;
    box-shadow: none;
    border-style: solid;
   
}

i{
    padding:0.3rem;
}

#fill-black{
    background-color: black;
    
}

#footer{
    background-color: black;
    padding:5% 15% 3%;
    margin-bottom: 0;
    text-align:center;
    color:goldenrod
}

#footer-icon{
   
    font-size:1.7rem;
    letter-spacing: 0.8rem;
}

#navbar-mod{
    padding: 1rem 5rem;
    text-align: left;
}

#navbar-mod a{
    color:goldenrod;
    
}

#press{
    margin-top: 0;
    padding-top: 0;
    background-color:white;
    text-align: center;
    padding:7% 7%;
}

#press h1{
    margin:0.7rem 3.5rem 1rem 3.5rem;
    font-size: 3rem;
    color: goldenrod;
}

#reviews{
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: 0;
    border-width:0 ;
}

#testy{
    color:goldenrod;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 5%;
    font-weight: bold;
    font-size:3rem;
}

#title{
    background-color: black;
    color:goldenrod;
}

#trending-location{
    margin-bottom: 3rem;
}

#trending-location h1{
    margin:3.5rem 3.5rem 1rem 3.5rem;
    font-size: 3rem;
    color: goldenrod;
}

.booking-form{
    border-style: solid;
    border-color: goldenrod;
    border-width: 0.1rem;
    margin: 2.5rem 10rem 2.5rem 10rem;
    background-color:transparent;
    border-radius: 10%;
    text-align: left;
}

.btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: Arial;
    color: white;
    font-size: 27px;
    background: goldenrod;
    padding: 1rem 2rem;
    text-decoration: none;
    margin:2rem 2rem 2rem 3rem;
    width: 75%;
  }
  
  .btn:hover {
    color:white;
    background: black;
    text-decoration: none;
  }

.card{
    width: 20rem;
    margin:1rem;
    padding:0;
    background-color: lightgoldenrodyellow;
}


.card-deck{
    padding:0 10rem 0 15rem;
}

.carousel-inner{
    padding:7% 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:goldenrod;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:goldenrod;
}


.major-input{
    margin:1rem 1rem;
}

.minor-input{
    margin-left: 0.4rem;
    margin-right: 0.5rem;
}

.minor-input-second{
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    margin-top:0.5rem;
}



.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.press-image{
    width:15%;
    margin:3%;
}

.radio-choice{
    margin:1rem;
}

.testimonial-image{
    width:20%;
    border-radius: 100%;
    margin-right:2%;
}


.travel-form{
    height: 100%;
    background-image:
    linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,1,0.5)),url("../images/pyramids.png");
    margin: 0;
    padding:0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title-slide{
    font-size: 3.5rem;
    text-align: left;
    padding:2rem 5rem;
}

.title-slide-second{
    text-align: left;
    padding:2rem 5rem;
    font-size: 1.3rem;
    color: blanchedalmond;
    font-weight: lighter;
}


@media (max-width:1000px){
    .booking-form{
        text-align: left;
        border-style: solid;
        border-color: goldenrod;
        border-width: 0.1rem;
        margin: 4rem 10rem 10rem 10rem;
        background-color:transparent;
        border-radius: 0%;
    }

    .card-deck{
        padding:0 10rem 0 10rem;
    }
    
    .title-slide{
        font-size: 3.5rem;
        text-align: center;
        padding:2rem;
    }

    .title-slide-second{
        text-align: center;
        padding:2rem;
        font-size: 1.3rem;
        color: blanchedalmond;
        font-weight: lighter;
    }
}


